<section class="hero is-fullheight">
  <!-- Hero Head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a [routerLink]="['/']" class="navbar-item">
            <img src="/assets/logo.png" alt="">
          </a>
          <span class="navbar-burger burger">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a [routerLink]="['/outcomes']" class="navbar-item">
              Gastos
            </a>
            <a class="navbar-item">
              Desconectarse
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>
<!--  Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
<!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <footer class="section">
      <div class="container has-text-centered">
        Proyecto realizado por <a href="https://kodoti.com">KODOTI</a>
      </div>
    </footer>
  </div>
</section>

